/* universal styles */

/* css reset */
*,
*:before,
*:after {
	margin:0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:after {
	display: table;
	content: " ";
	clear: both;
}
/*global styles */
.centerme{
	text-align: center;
}
.notcentered {
	text-align: left;
	margin-left:40px;
}

.right{
	float:right;

}
.hide {
	display: none;
}

/*page styles */
.home{
	background: url("img/github.jpg");
	background-repeat: repeat;
}
.container {
	max-width:960px;
	margin: 0 auto;


}
a:link, a:visited{

	text-decoration: none;
	color: rgba(255,255,255,1);
	font-family: sans-serif;
	font-size: 20px;
	background-color: rgba(117,193,215,.9);
	padding:15px;
	border: rgba(13, 123, 154, 1) 1px solid;


}

a:hover{
	text-decoration: underline;
}
li{
	list-style-type: none;
	display: inline-block;
	margin: 40px;
}

.box {
	background: rgba(255,255,255,.85);
	margin-bottom: 20px;
}
h2 {
	font-family: 'Dancing Script', cursive;
	font-size: 60px;
}

h3 {
	font-family: sans-serif;
	font-size: 20px;
	font-weight: normal;

}

p {
	width:800px;
	margin-top:30px;
	margin-left: 50px;
	font-family: sans-serif;
	font-size: 20px;
	text-shadow: #fff 0px 0px 1px, #fff 1px 0px 1px, #fff 0px 1px 1px, #fff 1px 1px 1px, #fff -1px 0px 1px,#fff 0px -1px 1px, #FFF -1px -1px 1px;

}

h4 {
	font-family: 'Pinyon Script', cursive;
	font-size: 40px;
}

.twocollumn{
	width:15%;
}

footer {
	background: rgba(255,255,255,1);
	padding:10px;
	width:900px;
	margin-left: 42px;
	font-family: sans-serif;
	font-size: 15px;
}