@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro|Merriweather|Cardo);
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*.clearfixed {
	&:before,
	&:after {
		display:table;
		content: " ";
		clear: both;
		overflow:hidden;
	}
} */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

body {
  font-size: 62.5%;
  height: 100%;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: auto;
  overflow-z: hidden;
}

main {
  max-width: 96em;
  margin-left: auto;
  margin-right: auto;
}
main:after {
  content: " ";
  display: block;
  clear: both;
}

::-moz-selection {
  background: #ffc5d5;
  text-shadow: none;
}

::selection {
  background: #ffc5d5;
  text-shadow: none;
}

h1 {
  font-size: 4.4em;
  font-family: "Merriweather", serif;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
}

h2, h3, h4, h5 {
  font-size: 3.4em;
  font-family: cardo-font;
}

nav, p {
  font-size: 1.5em;
  font-family: "Source Serif Pro", serif;
}

nav {
  float: right;
  position: relative;
  text-align: center;
  list-style-type: none;
  margin-right: 100px;
}
nav li {
  display: inline-block;
}
nav li a {
  text-decoration: none;
}
nav li a:link,
nav li a:visited {
  color: black;
}
nav li a:hover,
nav li a:active {
  color: #ff96b6;
}

#title {
  background-image: url(../img/back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: center center;
  background-attachment: fixed;
  height: 900px;
  width: 100%;
}

header,
main,
nav {
  padding: 1em;
}
header:after,
main:after,
nav:after {
  display: table;
  content: " ";
  clear: both;
}

.gallery img {
  text-align: center;
  margin: 30px;
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
}

footer {
  position: absolute;
  border: solid .1em black;
  width: 100%;
  bottom: 0em;
  left: 0em;
}
footer p {
  font-size: 1.3em;
}
